<div class="overviewBody">
    <div class="firstDiv">
        <div class="companyCards">
            <div class="description">
                <div class="title">
                    Description
                </div>
                <h3 class="description">
                    Zomato provides information, menus and user-reviews of restaurants as well as food delivery options
                    from
                    partner restaurants
                </h3>
                <span class="view-more-cta">View More</span>
            </div>
        </div>

        <div class="companyCards">
            <h3 class="title">Specialties</h3>

            <div class="specialties">
                <div class="spac-content">Ecommerce</div>
                <div class="spac-content">Technology</div>
                <div class="spac-content">Logistics</div>
                <div class="spac-content">Internet Services</div>
                <div class="spac-content">Online Food Ordering </div>
                <div class="spac-content">Operation</div>
                <div class="spac-content">Digital advertising</div>
                <div class="spac-content">+18</div>
            </div>
        </div>

        <div class="companyCards">
            <h3 class="title">Content Information</h3>

            <div class="email">

                <i class="ph ph-envelope-simple"></i>

                <div class="emailContainer">
                    <p>support&#64;clodura.ai</p>
                    <p>support&#64;clodura.ai</p>
                    <p>support&#64;clodura.ai</p>                    
                </div>
            </div>
        </div>

        <div class="companyCards">
            <h3 class="title">Website</h3>
            <div class="websiteLink">
                www.zomato.com <i class="ph ph-arrow-square-out"></i>
            </div>
        </div>

        <div class="companyCards">
            <h3 class="title">Company Size</h3>
            <div class="companySize">
                <p class="companyInfo">5001-10000</p>
            </div>
        </div>


        <div class="companyCards">
            <h1 class="title">
                HQ Location
            </h1>
            <p class="companyInfo">Haryana, India</p>
        </div>


        <div class="companyCards">
            <h3 class="title">
                Founding Year
            </h3>
            <p class="companyInfo">2016</p>
        </div>

        <div class="companyCards">
            <h3 class="title">
                Ticker Symbol
            </h3>
            <p class="companyInfo">
                NSE: ZOMATO
            </p>
        </div>

        <div class="companyCards">
            <h3 class="title">SIC Code</h3>
            <p class="companyInfo">6467</p>
        </div>
    </div>


    <div class="secondDivMain">
        <div class="secondDiv">
            <div class="companyCardsForFin">
                <h3 class="title">Finance Highlights</h3>
    
              <div class="financeSectionUpper">
                <div class="financeSection">
                    <div class="financeSectionDiv">
                        <div>
                            <div class="financeSectionDivBoxHeading"><i class="ph ph-trend-up"></i> <h4>Annual Revenue</h4></div>
                            <div class="financeSectionOutput"><i class="ph ph-caret-left"></i> $5M</div>
                        </div>
                        <div><i class="ph ph-caret-right"></i></div>
                    </div>
                </div>
    
                <div class="financeSection">
                    <div class="financeSectionDiv">
                        <div>
                            <div class="financeSectionDivBoxHeading"><i class="ph ph-chart-bar"></i> <h4>No. of Funding Rounds</h4></div>
                            <div class="financeSectionOutput">3</div>
                        </div>
                        <div><i class="ph ph-caret-right"></i></div>
                    </div>
                </div>
              </div>
    
              <div class="financeSectionBottom">
                <div class="financeSection">
                    <div class="financeSectionDiv">
                        <div>
                            <div class="financeSectionDivBoxHeading"><i class="ph ph-hand-coins"></i> <h4>Total Funding Amount</h4></div>
                            <div class="financeSectionOutput">$34M</div>
                        </div>
                        <div><i class="ph ph-caret-right"></i></div>
                    </div>
                </div>
    
                <div class="financeSection">
                    <div class="financeSectionDiv">
                        <div>
                            <div class="financeSectionDivBoxHeading"><i class="ph ph-handshake"></i> <h4>Acquisitions</h4></div>
                            <div class="financeSectionOutput">1</div>
                        </div>
                        <div><i class="ph ph-caret-right"></i></div>
                    </div>
                </div>
              </div>
                
    
              <span class="view-more-cta view-more-space">View More</span>
    
            </div>
    
            
        </div>
        <div class="secondDiv">
            <div class="companyCardsForFin">

                <div class="companyCardsForFinHeader">
                    <h3 class="title">Employees</h3>
                    <div class="select-button">
                        <div class="label">CXO</div>
                        <div class="status">New Hired</div>
                    </div>                      
                </div>
    
            <div class="employeeSection">
             <div class="employeeLists">
                <div class="employeeList">
                    <div class="userIconName" style="background-color: #FFEEE6;">AT</div>
                    <div>
                        <h4 class="employeeName">Abélard Travert</h4>
                        <h5 class="employeePosition">CEO</h5>
                    </div>
                </div>
                <div class="employeeShowDetailCTA">Show Details</div>
             </div>
             <div class="employeeLists">
                <div class="employeeList">
                    <div class="userIconName" style="background-color: #E9F5FF;">CB</div>
                    <div>
                        <h4 class="employeeName">Cadice Bonhomme</h4>
                        <h5 class="employeePosition">Marketing Executive</h5>
                    </div>
                </div>
                <div class="employeeShowDetailCTA">Show Details</div>
             </div>
             <div class="employeeLists">
                <div class="employeeList">
                    <div class="userIconName" style="background-color: #F0F0F0;">RB</div>
                    <div>
                        <h4 class="employeeName">Raphaël Barre</h4>
                        <h5 class="employeePosition">Customer Service Executive</h5>
                    </div>
                </div>
                <div class="employeeShowDetailCTA">Show Details</div>
             </div>
             <div class="employeeLists">
                <div class="employeeList">
                    <div class="userIconName" style="background-color: #FEECEB;">LP</div>
                    <div>
                        <h4 class="employeeName">Loup Paquet</h4>
                        <h5 class="employeePosition">Finance Executive</h5>
                    </div>
                </div>
                <div class="employeeShowDetailCTA">Show Details</div>
             </div> 
             <div class="employeeLists">
                <div class="employeeList">
                    <div class="userIconName" style="background-color: #E7F8F0;">LA</div>
                    <div>
                        <h4 class="employeeName">Lucette Albert</h4>
                        <h5 class="employeePosition">Sales Executive</h5>
                    </div>
                </div>
                <div class="employeeShowDetailCTA">Show Details</div>
             </div>
            </div>
    
              <span class="view-more-cta view-more-space">View All</span>
    
            </div>
    
            
        </div>
    </div>




    <div class="thirdDiv">
        <div class="companyCardsForNews">
            <h3 class="title">Recent News</h3>
            <div class="newsSection">
                <div class="newsList">
                    <div class="newslogo"><i class="ph ph-newspaper"></i></div>
                    <div class="news">
                        <div class="newsTitle">INC24 •<span class="newsDate"> Jun 16, 2024</span></div>
                        <div class="newsDesc">Zomato halts 'Xtreme' hyperlocal delivery service due to low demand and relaunche</div>
                    </div>
                </div>
                <div class="newsList">
                    <div class="newslogo"><i class="ph ph-newspaper"></i></div>
                    <div class="news">
                        <div class="newsTitle">INC24 •<span class="newsDate"> Jun 16, 2024</span></div>
                        <div class="newsDesc">Zomato halts 'Xtreme' hyperlocal delivery service due to low demand and relaunche</div>
                    </div>
                </div>
                <div class="newsList">
                    <div class="newslogo"><i class="ph ph-newspaper"></i></div>
                    <div class="news">
                        <div class="newsTitle">INC24 •<span class="newsDate"> Jun 16, 2024</span></div>
                        <div class="newsDesc">Zomato halts 'Xtreme' hyperlocal delivery service due to low demand and relaunche</div>
                    </div>
                </div>
            </div>

            <span class="view-more-cta view-more-space">View All</span>
            
        </div>
    </div>

</div>