<body>
  <nav class="nav">
      <div class="navSection">
          <img src="https://res.cloudinary.com/dbmka9scm/image/upload/v1729598579/clodura_logo_mhcrmr.svg" alt="clodura-logo">
          <div class="links">
              <a href="#">Dashboard</a>
              <a href="#">Search</a>
              <a href="#">Enrichment</a>
              <a href="#">Sequence</a>
              <a href="#">List</a>
              <a href="#">Triggers</a>
          </div>
      </div>
      <div class="utilities">
          <i class="ph-fill ph-bell-simple"></i>
          <i class="ph-bold ph-dots-nine"></i>
          <i class="feather icon-mail"></i>
          <div class="profile-name"><p><span>AP</span></p></div>
      </div>
  </nav>

  <!-- company heading info -->
  <div class="companyNameSection padding40">
     <div class="companyInfoContainer">
      <img class="companyLogo" src="https://res.cloudinary.com/dbmka9scm/image/upload/v1729598575/zomato_symbol.png_tgbgur.png" alt="">
      <div class="companyInfo">
          <h1>Zomato 
          <img src="https://res.cloudinary.com/dbmka9scm/image/upload/v1729602327/linkedin_pydph0.svg" alt="linkedin_icon">
          </h1>
          <h3>Restaurant Discovery Platform</h3>
      </div>
     </div>
     <div class="companyRightSide">
      <div class="notificationIcon"><i class="ph-fill ph-bell-ringing"></i></div>
      <div class="shareIcon"><i class="ph-fill ph-share-fat"></i></div>
      <div class="saveBTN"><button>Save</button></div>
     </div>
  </div>
  <app-internal-navbar></app-internal-navbar>


</body>